<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pro</display-name>
  <welcome-file-list>
    <welcome-file>/enforce/index/indexList.do</welcome-file>
  </welcome-file-list>
  
  <!-- Spring Mvc -->
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				classpath*:dispatch-servlet.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <!-- log4j -->
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <!-- Spring  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  
  <!-- Redis缓存  -->
  <servlet> 
    <servlet-name>t1</servlet-name> 
    <servlet-class>com.zcwsoft.common.newutils.filter.eache.RedisEacheLoad</servlet-class> 
    <!-- 如果需要自动加载，加下面一句 --> 
    <load-on-startup>2</load-on-startup> 
  </servlet>

   <listener>  
    <listener-class>com.zcwsoft.common.newutils.listenter.ListenterCreateServletContext</listener-class>  
  </listener> 
  
  
</web-app>